body{
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root{
  height: 100%;
}
.map{
  height: 100%;
  z-index: 0;
}
.button{
  position: absolute;
  bottom:20px;
  left:20px;
  /* z-index: 1; */
  border-radius: 50%;
  height: 80px;
  width: 80px;
  
}

.playButton{
  position: absolute;
  top:20px;
  left:20px;
  /* z-index: 1; */
  border-radius: 50%;
  height: 80px;
  width: 80px;
  
}


.box{
  
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 60px;
  left:30px;
}